<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.ReportMapper">
    <!-- 调用无参数的存储过程 -->
    <select id="countOccupationDemand" statementType="CALLABLE" resultType="com.example.server.model.OccupationDemandDTO">
        {CALL CountOccupationDemand()}
    </select>
</mapper>